@section Styles{ 
 <link href="~/css/style-our-story.css" rel="stylesheet">
}

<section class="banner">
    <img src="~/images/banner.png"/>
	<div class="inner-content col-md-12">
	<div class="container">

	   <h1>HUMBLE BEGINNINGS</h1>
	   <span>A STORY OF LIFE</span>


	</div>
	   </div>
</section>

<section class="sec_include">
        <div class="container">


			<div class="row">
			    <div class="col-xs-12 col-sm-8 col-md-8 adj_text">


					<h3>Sic Transit Gloria Mundi</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p style="padding-top: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>
				  <div class="col-xs-12 col-sm-4 col-md-4 adj_text">

				    <img src="~/images/shutterstock_252243790.png" alt="Public"/>
					 <div class="readtext">
					 <h3>FIRST PAPER DATA CENTER</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
 </div>
 </div>

				</div>

			</div>
		</div>
	</section>


	<section class="sec_include1">
        <div class="container">


			<div class="row">
			    <div class="col-xs-12 col-sm-8 col-md-8 adj_text">


					<h3>The Journey Continued</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<br />
<br/>

<div class="paragraph-second">
<h3>Earth-anity and Beyond</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>
</div>
				  <div class="col-xs-12 col-sm-4 col-md-4 adj_text">

				    <img src="~/images/shutterstock_564197512.png" alt="Public"/>
					 <div class="readtext">
					 <h3>LARRY SHAPARD, CEO & MAGICIAN</h3>
<p>The man, the myth, the legend.</p>
 </div>

				</div>

			</div>
		</div>
	</section>


